MYSQL_ROOT_PASSWORD=isi_password_root_di_sini
MYSQL_DATABASE=wordpress_db
MYSQL_USER=wp_clouduser
MYSQL_PASSWORD=isi_password_user_database_di_sini

WORDPRESS_DB_HOST=db_container:3306
WORDPRESS_DB_NAME=wordpress_db
WORDPRESS_DB_USER=wp_clouduser
WORDPRESS_DB_PASSWORD=isi_password_user_database_di_sini


MINIO_ROOT_USER=cloudadmin
MINIO_ROOT_PASSWORD=isi_password_minio_di_sini